<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .dropdown-menu {
            background-color: transparent;
            border: none;
        }
        .dropdown-item {
            color: white;
        }
        .dropdown-item:hover {
            background-color: #0dcaf0;
            color: white;
        }
    </style>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand text-white" th:href="@{/}">HealthCare <br>Management</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto py-4 py-lg-0">
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4 text-white" th:href="@{/}" th:text="#{home}">Home</a></li>
                <li class="nav-item dropdown" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link dropdown-toggle px-lg-3 py-3 py-lg-4 text-white" id="adminDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="#{admin_panel}">Admin Panel</a>
                    <ul class="dropdown-menu" aria-labelledby="adminDropdown">
                        <li><a class="dropdown-item" th:href="@{/admin/panel}" th:text="#{admin_panel}">Panel</a></li>
                        <li><a class="dropdown-item" th:href="@{/doctors/add}" th:text="#{add_doctor}">Add Doctor</a></li>
                    </ul>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()"><a class="nav-link px-lg-3 py-3 py-lg-4 text-white" th:href="@{/users/profile/{userId} (userId = ${userId})}" th:text="#{profile}">Profile</a></li>
                <li class="nav-item" sec:authorize="!isAuthenticated()"><a class="nav-link px-lg-3 py-3 py-lg-4 text-white" th:href="@{/users/register}" th:text="#{register}">Register</a></li>
                <li class="nav-item" sec:authorize="!isAuthenticated()"><a class="nav-link px-lg-3 py-3 py-lg-4 text-white" th:href="@{/users/login}" th:text="#{login}">Login</a></li>
                <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                    <a class="nav-link dropdown-toggle px-lg-3 py-3 py-lg-4 text-white" id="servicesDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="#{medical_services}">Medical Services</a>
                    <ul class="dropdown-menu" aria-labelledby="servicesDropdown">
                        <li><a class="dropdown-item" th:href="@{/doctors/find}" th:text="#{find_doctor}">Find Doctor</a></li>
                        <li><a class="dropdown-item" th:href="@{/appointments/all}" th:text="#{appointments}">Appointments</a></li>
                        <li><a class="dropdown-item" th:href="@{/doctors/all}" th:text="#{doctors}">Doctors</a></li>
                    </ul>
                </li>
                <li class="nav-item" sec:authorize="hasRole('DOCTOR')"><a class="nav-link px-lg-3 py-3 py-lg-4 text-white" th:href="@{/patient-result/add}" th:text="#{add_patient_result}">Add Patient Result</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4 text-white" th:href="@{/contact}" th:text="#{contact}">Contact</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4 text-white" th:href="@{/about}" th:text="#{about}">About</a></li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <form th:action="@{/users/logout}" th:method="post" class="logout-form" style="margin: 0;">
                        <button type="submit" class="nav-link px-lg-3 py-3 py-lg-4 text-white logout-button" th:text="#{logout}">Logout</button>
                    </form>
                </li>
                <li class="nav-item">
                    <form th:method="get">
                        <label class="nav-link px-sm-1 py-3 py-sm-1 text-white" for="lang" th:text="#{language}">Language</label>
                        <select
                                id="lang"
                                name="lang"
                                onchange="this.form.submit()">
                            <option value="en_US" th:selected="${#locale.toString()} == 'en_US'">English</option>
                            <option value="bg_BG" th:selected="${#locale.toString()} == 'bg_BG'">Български</option>
                        </select>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.min.js"></script>
</body>
</html>