<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{fragments/head.html}"></th:block>

<body>
<!-- Navigation-->
<th:block th:replace="~{fragments/nav.html}"></th:block>
<!-- Page Header-->
<th:block th:replace="~{fragments/header.html}"></th:block>


<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row row-cols-2 g-5 justify-content-center">
        <h2 class="text-center">Current Users</h2>
        <table class="table">
            <thead class="bg-dark text-white">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Roles</th>
            </tr>
            </thead>
            <tbody  th:each="user : ${allUsers}"
            >
            <tr>
                <th scope="row" th:text="${user.getId()}">1</th>
                <td th:text="${user.getFirstName()}"></td>
                <td th:text="${user.getLastName()}"></td>
                <td th:text="${user.getUsername()}"></td>
                <td th:text="${user.getEmail()}"></td>
                <td th:each="role : ${user.getRoles()}" th:text="${role}"></td>
                <td></td>
            </tr>
            </tbody>
        </table>

        <h2 class="text-center">Current Appointments</h2>
        <table class="table">
            <thead class="bg-dark text-white">
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
            </tr>
            </tbody>
        </table>
        <!-- Divider-->
        <hr class="my-4"/>

    </div>
</div>

<!-- Footer-->
<th:block th:replace="~{fragments/footer.html}"></th:block>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/js/scripts.js"></script>
</body>
</html>
