<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head th:replace="fragments/commons::head"></head>

<body>
<!-- Navigation-->
<nav th:replace="fragments/commons::nav"></nav>
<!-- Page Header-->
<header th:replace="fragments/commons::header"></header>


<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row row-cols-2 g-5 justify-content-center">
        <div class="col-md-5">
            <form class="col-form-label col-md-10">
                <div class="form-group p-sm-0">
                    <div class="mx-auto"><b>Find Doctor</b></div>
                    <img src="https://media.istockphoto.com/id/1189350851/vector/find-doctor-icon.jpg?s=612x612&w=0&k=20&c=V6Vlnwip9hK-CBVuxX7hqEj3WZWq4zt4iGNy43d7ffY="
                        class="img-fluid" alt="Find Doctor">
                    <label for="exampleFormControlSelect1"></label>
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option>Choose specialty</option>
                        <option></option>
                    </select>
                </div>
                <div class="form-group p-sm-0">
                    <label for="exampleFormControlSelect2"></label>
                    <select class="form-control" id="exampleFormControlSelect2">
                        <option>Choose a town</option>
                        <option></option>
                    </select>
                </div>
                <div class="form-group p-sm-0">
                    <label for="exampleFormControlInput1"></label>
                    <input type="email" class="form-control" id="exampleFormControlInput1"
                           placeholder="Find doctor by name">
                </div>
            </form>
        </div>
        <div class="col-md-5">
            <ul class="list-group">
                <div class="mx-auto mb-4">
                    <img src="https://www.marketmirror.info/assets/images/choose_city.jpg"
                         class="img-fluid" alt="Choose City">
                    <b>Choose City</b>
                </div>
                <li class="list-group-item">Varna</li>
                <li class="list-group-item">Sofia</li>
                <li class="list-group-item">Plovdiv</li>
                <li class="list-group-item">Veliko Turnovo</li>
                <li class="list-group-item">Burgas</li>
                <li class="list-group-item">Kurdzali</li>
                <li class="list-group-item">Ruse</li>
                <li class="list-group-item">Pavlikeni</li>
                <li class="list-group-item">Pleven</li>
                <li class="list-group-item">Stara Zagora</li>
                <li class="list-group-item">Dobrich</li>
            </ul>
        </div>

        <!-- Divider-->
        <hr class="my-4"/>

    </div>
</div>

<!-- Footer-->
<footer th:replace="fragments/commons::footer"></footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>
</html>
