<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{fragments/head.html}"></th:block>

<body>
<!-- Navigation-->
<th:block th:replace="~{fragments/nav.html}"></th:block>
<!-- Page Header-->
<th:block th:replace="~{fragments/header.html}"></th:block>

<!--Register Form-->
<section class="vh-100% gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-primary text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <div class="mb-md-5 mt-md-4 pb-5">

                            <h2 class="fw-bold mb-2 text-uppercase">Register</h2>
                            <p class="text-white-50 mb-5">Please enter your information!</p>

                            <form th:action="@{/users/register}"
                                  th:method="post"
                                  th:object="${registerDTO}"
                            >

                                <div data-mdb-input-init class="form-outline form-white mb-4">
                                    <label class="form-label" th:for="firstName">First Name</label>
                                    <input type="text" id="firstName" class="form-control form-control-lg"
                                           th:field="*{firstName}"
                                           th:errorclass="'is-invalid alert-info'"
                                    />
                                    <small class="invalid-feedback text-warning"
                                           th:each="error : ${#fields.errors('firstName')}"
                                           th:text="${error}"></small>
                                </div>

                                <div data-mdb-input-init class="form-outline form-white mb-4">
                                    <label class="form-label" th:for="lastName">Last Name</label>
                                    <input type="text" id="lastName" class="form-control form-control-lg"
                                           th:field="*{lastName}"
                                           th:errorclass="'is-invalid alert-info'"
                                    />
                                    <small class="invalid-feedback text-warning"
                                           th:each="error : ${#fields.errors('lastName')}"
                                           th:text="${error}"></small>
                                </div>

                                <div data-mdb-input-init class="form-outline form-white mb-4">
                                    <label class="form-label" th:for="email">Email</label>
                                    <input type="email" id="email" class="form-control form-control-lg"
                                           th:field="*{email}"
                                           th:errorclass="'is-invalid alert-info'"
                                    />
                                    <small th:errors="*{email}" class="invalid-feedback text-warning"
                                    ></small>
                                </div>


                                <div data-mdb-input-init class="form-outline form-white mb-4">
                                    <label class="form-label" for="password">Password</label>
                                    <input type="password" id="password" class="form-control form-control-lg"
                                           th:field="*{password}"
                                           th:errorclass="'is-invalid alert-info'"
                                    />
                                    <small class="invalid-feedback text-warning"
                                           th:each="error : ${#fields.errors('password')}"
                                           th:text="${error}"></small>
                                </div>

                                <div data-mdb-input-init class="form-outline form-white mb-4">
                                    <label class="form-label" for="confirmPassword">Confirm Password</label>
                                    <input type="password" id="confirmPassword" class="form-control form-control-lg"
                                           th:field="*{confirmPassword}"
                                           th:errorclass="'is-invalid alert-info'"
                                    />
                                    <small class="invalid-feedback text-warning"
                                           th:each="error : ${#fields.errors('confirmPassword')}"
                                           th:text="${error}"></small>
                                </div>

                                <button data-mdb-button-init data-mdb-ripple-init
                                        class="btn btn-outline-light btn-lg px-5" type="submit">Register
                                </button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Footer-->
<th:block th:replace="~{fragments/footer.html}"></th:block>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/js/scripts.js"></script>
</body>
</html>
